body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: black;

}

#container {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
p {
  color: aqua;
  font-style: oblique;
  font-weight: 900;
 
}
input {
  background-color: aqua;
  border-color: black;
  padding: 1.5rem;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
